<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big4 Trend Analysis</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
    <script src="static/jquery-3.3.1.slim.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
</head>
<body style="width:60%; margin-left:20%; margin-top: 5%">
    <h1 class="text-center">Big4 Trend Analysis</h1>
    <form action="/" method="post">
        <input class="form-control" type="text" name="text" placeholder="Text">
        <input class="btn btn-primary" type="submit" value="Make prediction" style="margin-left:40%; margin-top: 1%">
    </form>
    {% if sentiment %}
        <p>The sentiment of the text is: {{sentiment}}</p>
    {% endif %}
</body>
</html>